bleach
certifi
chardet
Django
docutils
idna
Json-Dict
numpy
opencv-python
pkginfo
Pygments
python-vlc
pytz
pyzbar
readme-renderer
requests
requests-toolbelt
six
sqlparse
tqdm
twine
urllib3
webencodings
wincertstore
