<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
</head>
<body>
<div>
    <img id="bg" src="{% url 'video_feed' %}">
    <button id="takephoto">take photo</button>
    <button id="recordvideo">record video</button><input type="number" min="1" name="videoseconds">
</div>
<div id="countdown" style="position: fixed;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
  font-size: 200px;
  font-style: italic;
  font-weight: bold;
"></div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

<script>
    function countdown(n,finish){
        if(n<=0){
            cd.text("");
            return;
        }
        var cd = $('#countdown');
        cd.animate({"font-size":"2000px",opacity: 0},0);
        cd.text(n);
        cd.animate({"font-size":"0px",opacity: 1},1000,"swing",function () {
            if(n === 1){
                cd.text("");
                finish();
            }else{
                countdown(n-1,finish)
            }
        })
    }
    $(function() {
        $('#takephoto').click(function () {
            countdown(5,function () {
                var getUrl = window.location;
                window.location.href =getUrl .protocol + "//" + getUrl.host + "/takephoto"
            })
        })
    });
    $(function() {
        $('#recordvideo').click(function () {
            countdown(5,function () {
                var getUrl = window.location;
                window.location.href =getUrl .protocol + "//" + getUrl.host + "/recordvideo?t="+$("input[name='videoseconds']").val()
            })
        })
    });
</script>
</html>