
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div style="height:100vh;width:100%;
        text-align: center;
        background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('{% url 'photobooth_app:video_feed' %}');">
    <div style="position:absolute;bottom: 20px;left: 50%;transform: translate(-50%,0);
            {% if not showbuttons %}
                display: none;
            {% endif %}
">
        <button id="takephoto">take photo</button>
        <button id="recordvideo">record video</button><input type="number" min="1" name="videoseconds" value="10">
        </div>

</div>
<div id="countdown" style="position: fixed;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
  font-size: 200px;
  font-style: italic;
  font-weight: bold;
"></div>
</body>
<script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

<script>
    function countdown(n,finish){
        if(n<=0){
            cd.text("");
            return;
        }
        var cd = $('#countdown');
        cd.animate({"font-size":"2000px",opacity: 0},0);
        cd.text(n);
        cd.animate({"font-size":"0px",opacity: 1},1000,"swing",function () {
            if(n === 1){
                cd.text("");
                finish();
            }else{
                countdown(n-1,finish)
            }
        })
    }
    $(function() {
        $('#takephoto').click(function () {
            countdown(5,function () {
                var getUrl = window.location;
                window.location.href =getUrl .protocol + "//" + getUrl.host + "/takephoto"
            })
        })
    });
    $(function() {
        $('#recordvideo').click(function () {
            countdown(5,function () {
                var getUrl = window.location;
                window.location.href =getUrl .protocol + "//" + getUrl.host + "/recordvideo?t="+$("input[name='videoseconds']").val()
            })
        })
    });


    var ajax_call = function() {
        var getUrl = window.location;
        $.getJSON(getUrl .protocol + "//" + getUrl.host + "/commands",function (data) {
            for(let i=0;i<data.opencommands.length;i++){
                console.log(data)
                if(data.opencommands[i] === "Photo"){
                    $('#takephoto').click();
                    clearInterval(commandrequester);
                }
            }
        })
    };

    var interval = 500; // where X is your every X minutes

    var commandrequester = setInterval(ajax_call, interval);
</script>
</html>