{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postproduction</title>

    <style type="text/css">
        body {
            overflow:hidden;
            margin: 0;
        }
    </style>
</head>
<body>
<div style="height:100vh;width:100%;
        text-align: center;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('{% static image_path %}');">

    <form method="post" style="position:absolute;bottom: 20px;left: 50%;transform: translate(-50%,0);">
        {% csrf_token %}
        {% if showbuttons %}
        <select id="commandselection" name="action">
            <option value="save">Speichern</option>
            <option value="print">Drucken</option>
            <option value="delete">Löschen</option>
        </select>
        <button>ok</button>
        {% else %}
            <input type="hidden" id="commandselection" name="action" value="save">
        {% endif %}
    </form>


</div>
<img id="bg" src="{% url 'photobooth_app:video_feed' %}" style="display: none">
</body>
<script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

<script>
    var ajax_call = function() {
        var getUrl = window.location;
        $.getJSON(getUrl .protocol + "//" + getUrl.host + "/commands",function (data) {
            console.log(data);
            for(let i=0;i<data.opencommands.length;i++){
                if(data.opencommands[i] === "delete"){
                    $('#commandselection').val('delete');
                    $('form').submit();
                    clearInterval(commandrequester);
                }else if(data.opencommands[i] === "save"){
                    $('#commandselection').val('save');
                    $('form').submit();
                    clearInterval(commandrequester);
                }else if(data.opencommands[i] === "print"){
                    $('#commandselection').val('print');
                    $('form').submit();
                    clearInterval(commandrequester);
                }
            }
        })
    };

    var interval = 500; // where X is your every X minutes

    var commandrequester = setInterval(ajax_call, interval);
</script>

</body>
</html>